<table class="table" id="table">
  <thead class="table-dark" id="thead">
    <tr>
      <th scope="col" id="col-id">#</th>
      <th scope="col" id="col-nombre">Nombre</th>
      <th scope="col" id="col-tipo">Tipo</th>
      <th scope="col" id="col-region">Región</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" id="tbody">
    <tr *ngFor="let cafe of cafes">
      <td>
        <dd>{{cafe.id}}</dd>
      </td>
      <td>
        <dd>{{cafe.nombre}}</dd>
      </td>
      <td>
        <dd>{{cafe.tipo}}</dd>
      </td>
      <td>
        <dd>{{cafe.region}}</dd>
      </td>
    </tr>
  </tbody>
</table>
<p id="p-origen">Total café de origen: {{cantidadTipoOrigen}}</p>
<p id="p-blend">Total café blend: {{cantidadTipoBlend}}</p>